BankWebService/WebContent/wsdl/BankServices.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ws.jhc" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ws.jhc" xmlns:intf="http://ws.jhc" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ws.jhc" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="validateCreditCard">
    <complexType>
     <sequence>
      <element name="number" type="xsd:string"/>
      <element name="month" type="xsd:string"/>
      <element name="year" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="validateCreditCardResponse">
    <complexType>
     <sequence>
      <element name="validateCreditCardReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="validateCreditCardResponse">

      <wsdl:part element="impl:validateCreditCardResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="validateCreditCardRequest">

      <wsdl:part element="impl:validateCreditCard" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="BankServices">

      <wsdl:operation name="validateCreditCard">

         <wsdl:input message="impl:validateCreditCardRequest" name="validateCreditCardRequest">

       </wsdl:input>

         <wsdl:output message="impl:validateCreditCardResponse" name="validateCreditCardResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="BankServicesSoapBinding" type="impl:BankServices">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="validateCreditCard">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="validateCreditCardRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="validateCreditCardResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="BankServicesService">

      <wsdl:port binding="impl:BankServicesSoapBinding" name="BankServices">

         <wsdlsoap:address location="http://localhost:8080/BankWebService/services/BankServices"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
